<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<meta charset="ISO-8859-1">
	<title>Employee</title>
	
	<head>
		
	</head>
	
	<body>
		
		<pre>
			
			<form  action="#" th:action="@{/empolyee/save}" method="POST">
				
			   Id:<input type="text" name="empId"> <br>
			   
			   Name:<input type="text" name="empName"> <br>
			   
			   Sal:<input type="text" name=" empSal"><br>
			   
			   Address:<input type="text" name="empAdd"> <br>
			   
			   <button type="submit"" value="Create"<button></button>
			   
			   
				
				
				
				
			</form>
		</pre>
	</body>
</html>